/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .csvbtns {
    display: inline-flex;
    margin-left: 50px;
}
.csvbtns .memimport, .csvbtns .memexport{
    margin-left: 4px !important;
    padding: 4px 8px !important;
    position: relative;
    top: -3px;
    border: 1px solid #2271b1;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px !important;
    line-height: normal !important;
    display: inline-block !important;
 }
 input#mpcsv {
    width: 1px;
    position: absolute;
    left: -9999px;
    opacity: 0;
}